@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
body {
  background-color:#666e73;}
p {
  color:white; text-align:center; font-size:350%; font-family: 'Cutive Mono'; 
}
h2{text-align:center;font-family: 'Cutive Mono'; font-size: ; color:white;}
h3 {font-size:90%}


h1 {color:black; font-size:250%;font-family: 'Dancing Script'; }

ul {
  list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
}

ul {color:#7EBDC2; font-size:150%; font-family: Impact; }
a {color:#7EBDC2}
h4{color:black; font-family: 'Amatic SC'}
form {color:white; font-family: 'Amatic SC'}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
